* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}


#calc {
    background: black;
    padding: 15px;
    border: 1px solid #444;
}


#res {
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-align: right;
    margin-bottom: 10px;
    background: black;
    color: white;
    border: 1px solid #555;
    padding-right: 8px;
}


.btn input[type="button"] {
    width: 50px;
    height: 40px;
    margin: 3px;
    font-size: 16px;
    background: black;
    color: white;
    border: 1px solid #555;
    cursor: pointer;
}


.btn input[type="button"]:hover {
    background: #222;
}


#clear,
#backspace {
    border-color: #777;
background : red;
}
